@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #026e43;
}

.box {
    width: 700px;
    min-height: 500px;
    background-color: rgb(160, 224, 165);
    border-radius: 5px;
    padding: 15px;
}

#item {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    display: block;
    font-weight: bold;
    box-shadow: 0px 0px 2px rgb(0, 6, 0);
}

#to-do-box {
    margin-top: 30px;
    list-style: none;
}

#to-do-box li {
    position: relative;
    background-color: #c6e5cd;
    color: rgb(6, 64, 2);
    padding: 10px;
    border-radius: 2px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}

#to-do-box li i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.done {
    text-decoration: line-through;
    color: black;
    background-color: #c40310 !important;
}